.card {
  width: 300px;
  height: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  background: linear-gradient(to bottom, var(--color1), var(--color2));
  margin-bottom: 40px;
  position: relative;
  height: 400px;
  margin: 40px auto;
  text-transform: capitalize;

  background-color: #f2f2f2;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;

  animation: entrada-card 0.5s ease-in-out;
}

.card:hover {
  opacity: 0.8;
}

.cardImage {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: transform 300ms ease;
}

.cardImage:hover {
  transform: rotate(30deg) translateY(-5px);
}

.cardImage:hover img {
  transform: scale(1.2);
}

.name {
  position: absolute;
  bottom: 8%;
  left: 50%;
  color: black;
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
  transform: translateX(-50%);
}

@keyframes entrada-card {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
