.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* background: url(../../../public/rickAndMortyBackground.jpg) no-repeat center
    center fixed; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

form {
  background: rgba(59, 65, 64, 0.5);
  box-shadow: 0 8px 32px 0 rgba(92, 155, 143, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid rgb(40, 163, 139);
  padding: 30px;
  border-radius: 10px;
}

.container2 {
  background: rgba(59, 65, 64, 0.5);
  box-shadow: 0 8px 32px 0 rgba(92, 155, 143, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgb(93, 159, 146);
  padding: 14px 20px;
  color: rgb(10, 223, 141);
  margin-bottom: 30px;
  width: 24rem;
  text-align: center;
}

.buttonAcceso {
  color: white;
  padding: 10px;
  font-weight: bold;
  width: 20rem;
  font-size: 1.4rem;
  background-color: rgb(44, 164, 140);
  border: 2px solid rgb(112, 199, 181);
  border-radius: 0.5rem;
  cursor: pointer;
}

.buttonHome {
  color: white;
  padding: 10px;
  font-weight: bold;
  width: 20rem;
  font-size: 1.4rem;
  background-color: rgb(44, 164, 140);
  border: 2px solid rgb(112, 199, 181);
  border-radius: 0.5rem;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(27, 104, 88);
  cursor: pointer;
}

.error {
  border: 2px solid rgb(229, 77, 43);
}

.success {
  border: 2px solid rgb(85, 213, 107);
}

.danger {
  text-align: center;
  color: rgb(11, 226, 144);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field input {
  border: 2px solid rgb(93, 159, 146);
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 10px;
  width: 20rem;
}

.field label {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.passwordInputContainer {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="password"] {
  /* Estilos para el campo de contraseña */
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.passwordVisibilityButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passwordVisibilityButton svg {
  font-size: 20px;
  color: #999;
}
